In [2]:
# What is the difference in the cost of living affordability for renters vs. first-time home owners vs. not first-time home owners?

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import seaborn as sns

In [3]:
# Save file path to variable
data1_csv = Path('Resources/data1.csv')
data2_csv = Path('Resources/data2.csv')
data3_csv = Path('Resources/data3.csv')

# Read with Pandas
df1 = pd.read_csv(data1_csv)
df2 = pd.read_csv(data2_csv)
df3 = pd.read_csv(data3_csv)

In [4]:
# Merge/stack data using concat
merged_df = pd.concat([df1, df2, df3], axis=0)
merged_df.head()

,REF_DATE,GEO,DGUID,Tenure including first-time homebuyer status,Select housing indicators,Statistics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS,Select household characteristics,Tenure including first-time homebuyer and social and affordable housing status,Acceptable housing
0,2018,Ontario,2021A000235,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Number of households,Number,223,units,0,v1596448330,25.3.1.1,474300,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2021,Ontario,2021A000235,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Number of households,Number,223,units,0,v1596448330,25.3.1.1,532800,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2022,Ontario,2021A000235,Owner who is a first-time homebuyer,"Total, structural type of dwelling",Number of households,Number,223,units,0,v1596448330,25.3.1.1,477700,NaN,NaN,NaN,0,NaN,NaN,NaN
3,2018,Ontario,2021A000235,Owner who is a first-time homebuyer,Single-detached house,Number of households,Number,223,units,0,v1596448396,25.3.2.1,265300,NaN,NaN,NaN,0,NaN,NaN,NaN
4,2021,Ontario,2021A000235,Owner who is a first-time homebuyer,Single-detached house,Number of households,Number,223,units,0,v1596448396,25.3.2.1,302300,NaN,NaN,NaN,0,NaN,NaN,NaN

In [5]:
merged_df.columns

Index(['REF_DATE', 'GEO', 'DGUID',
       'Tenure including first-time homebuyer status',
       'Select housing indicators', 'Statistics', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS', 'Select household characteristics',
       'Tenure including first-time homebuyer and social and affordable housing status',
       'Acceptable housing'],
      dtype='object')

In [6]:
# Delete unnecessary columns
unnecessary_columns = ['DGUID',
                       'UOM',
                       'UOM_ID',
                       'SCALAR_FACTOR',
                       'SCALAR_ID',
                       'VECTOR',
                       'COORDINATE',
                       'STATUS',
                       'SYMBOL',
                       'TERMINATED',
                       'Statistics',
                       'DECIMALS']
merged_df.drop(columns=unnecessary_columns, inplace=True)
merged_df.head(2)

,REF_DATE,GEO,Tenure including first-time homebuyer status,Select housing indicators,VALUE,Select household characteristics,Tenure including first-time homebuyer and social and affordable housing status,Acceptable housing
0,2018,Ontario,Owner who is a first-time homebuyer,"Total, structural type of dwelling",474300,NaN,NaN,NaN
1,2021,Ontario,Owner who is a first-time homebuyer,"Total, structural type of dwelling",532800,NaN,NaN,NaN

In [7]:
merged_df.columns

Index(['REF_DATE', 'GEO', 'Tenure including first-time homebuyer status',
       'Select housing indicators', 'VALUE',
       'Select household characteristics',
       'Tenure including first-time homebuyer and social and affordable housing status',
       'Acceptable housing'],
      dtype='object')

In [8]:
merged_df['Tenure including first-time homebuyer and social and affordable housing status'].value_counts()

Tenure including first-time homebuyer and social and affordable housing status
Owner household, first-time homebuyer        8
Owner household, not first-time homebuyer    8
Renter household                             8
Name: count, dtype: int64

In [9]:
# Change 'Tenure including first-time homebuyer and social and affordable housing status' values to match 'Tenure including first-time homebuyer status'
merged_df['Tenure including first-time homebuyer and social and affordable housing status'] = merged_df['Tenure including first-time homebuyer and social and affordable housing status'].replace({
        'Owner household, first-time homebuyer' : 'First-time homebuyer',
        'Owner household, not first-time homebuyer' : 'Repeat homebuyer',
        'Renter household' : 'Renter'
    })
merged_df['Tenure including first-time homebuyer and social and affordable housing status'].value_counts()

Tenure including first-time homebuyer and social and affordable housing status
First-time homebuyer    8
Repeat homebuyer        8
Renter                  8
Name: count, dtype: int64

In [10]:
merged_df.columns

Index(['REF_DATE', 'GEO', 'Tenure including first-time homebuyer status',
       'Select housing indicators', 'VALUE',
       'Select household characteristics',
       'Tenure including first-time homebuyer and social and affordable housing status',
       'Acceptable housing'],
      dtype='object')

In [11]:
merged_df['Tenure including first-time homebuyer status'].value_counts()

Tenure including first-time homebuyer status
Owner who is a first-time homebuyer        2124
Owner who is not a first-time homebuyer    2124
Renter                                     2124
Name: count, dtype: int64

In [12]:
# Change 'Tenure including first-time homebuyer status' values to match 'Tenure including first-time homebuyer and social and affordable housing status'
merged_df['Tenure including first-time homebuyer status'] = merged_df['Tenure including first-time homebuyer status'].replace({
        'Owner who is a first-time homebuyer' : 'First-time homebuyer',
        'Owner who is not a first-time homebuyer' : 'Repeat homebuyer',
    })
merged_df['Tenure including first-time homebuyer status'].value_counts()

Tenure including first-time homebuyer status
First-time homebuyer    2124
Repeat homebuyer        2124
Renter                  2124
Name: count, dtype: int64

In [13]:
# Merge 'Tenure' columns
merged_df['Tenure'] = merged_df['Tenure including first-time homebuyer status'].fillna(merged_df['Tenure including first-time homebuyer and social and affordable housing status'])
merged_df['Tenure'].value_counts()

Tenure
First-time homebuyer    2132
Repeat homebuyer        2132
Renter                  2132
Name: count, dtype: int64

In [14]:
merged_df.head(2)

,REF_DATE,GEO,Tenure including first-time homebuyer status,Select housing indicators,VALUE,Select household characteristics,Tenure including first-time homebuyer and social and affordable housing status,Acceptable housing,Tenure
0,2018,Ontario,First-time homebuyer,"Total, structural type of dwelling",474300,NaN,NaN,NaN,First-time homebuyer
1,2021,Ontario,First-time homebuyer,"Total, structural type of dwelling",532800,NaN,NaN,NaN,First-time homebuyer

In [15]:
# Delete unnecessary 'Tenure...' columns
unnecessary_columns = ['Tenure including first-time homebuyer and social and affordable housing status',
                       'Tenure including first-time homebuyer status']
merged_df.drop(columns=unnecessary_columns, inplace=True)
merged_df.head(2)

,REF_DATE,GEO,Select housing indicators,VALUE,Select household characteristics,Acceptable housing,Tenure
0,2018,Ontario,"Total, structural type of dwelling",474300,NaN,NaN,First-time homebuyer
1,2021,Ontario,"Total, structural type of dwelling",532800,NaN,NaN,First-time homebuyer

In [16]:
merged_df['Acceptable housing'].value_counts()

Acceptable housing
Does not live in acceptable housing    12
Lives in acceptable housing            12
Name: count, dtype: int64

In [17]:
# Merge columns 'Select household characteristics' & 'Acceptable housing'
merged_df['Household characteristics'] = merged_df['Select household characteristics'].fillna(merged_df['Acceptable housing'])
merged_df.head(2)

,REF_DATE,GEO,Select housing indicators,VALUE,Select household characteristics,Acceptable housing,Tenure,Household characteristics
0,2018,Ontario,"Total, structural type of dwelling",474300,NaN,NaN,First-time homebuyer,NaN
1,2021,Ontario,"Total, structural type of dwelling",532800,NaN,NaN,First-time homebuyer,NaN

In [18]:
# Delete unnecessary 'Housing...' columns
unnecessary_columns = ['Select household characteristics',
                       'Acceptable housing']
merged_df.drop(columns=unnecessary_columns, inplace=True)
merged_df.head(2)

,REF_DATE,GEO,Select housing indicators,VALUE,Tenure,Household characteristics
0,2018,Ontario,"Total, structural type of dwelling",474300,First-time homebuyer,NaN
1,2021,Ontario,"Total, structural type of dwelling",532800,First-time homebuyer,NaN

In [19]:
# Merge columns 'Select household characteristics' & 'Acceptable housing'
merged_df['Housing characteristics'] = merged_df['Household characteristics'].fillna(merged_df['Select housing indicators'])
merged_df.head(2)

,REF_DATE,GEO,Select housing indicators,VALUE,Tenure,Household characteristics,Housing characteristics
0,2018,Ontario,"Total, structural type of dwelling",474300,First-time homebuyer,NaN,"Total, structural type of dwelling"
1,2021,Ontario,"Total, structural type of dwelling",532800,First-time homebuyer,NaN,"Total, structural type of dwelling"

In [20]:
merged_df['Housing characteristics'].value_counts()

Housing characteristics
Total, structural type of dwelling                   108
55 to 64 years                                       108
Moved for another reason                             108
Total, household type                                108
One-family household - couple with children          108
                                                    ...
Neighbourhood satisfaction rating between 0 and 5     72
Neighbourhood satisfaction rating of 6 or 7           72
Neighbourhood satisfaction rating of 8, 9 or 10       72
Does not live in acceptable housing                   12
Lives in acceptable housing                           12
Name: count, Length: 64, dtype: int64

In [21]:
# Delete unnecessary 'Housing...' columns
unnecessary_columns = ['Household characteristics',
                       'Select housing indicators']
merged_df.drop(columns=unnecessary_columns, inplace=True)
merged_df.head(2)

,REF_DATE,GEO,VALUE,Tenure,Housing characteristics
0,2018,Ontario,474300,First-time homebuyer,"Total, structural type of dwelling"
1,2021,Ontario,532800,First-time homebuyer,"Total, structural type of dwelling"

In [22]:
# Count Nan values
total_nan_count = merged_df.isna().sum().sum()
print(total_nan_count)

0

In [23]:
# Rename columns
merged_df.rename(columns={'REF_DATE': 'Year',
                          'GEO' : 'Location', 
                          'VALUE': 'Number of Households',
                          'Housing characteristics' : 'Housing Characteristics'}, inplace=True)

In [24]:
merged_df.head(2)

,Year,Location,Number of Households,Tenure,Housing Characteristics
0,2018,Ontario,474300,First-time homebuyer,"Total, structural type of dwelling"
1,2021,Ontario,532800,First-time homebuyer,"Total, structural type of dwelling"

In [25]:
merged_df['Location'].value_counts()

Location
Ontario                                                                 555
Large urban population centres, Ontario                                 531
Medium population centres, Ontario                                      531
Small population centres, Ontario                                       531
Rural areas, Ontario                                                    531
Ottawa-Gatineau, Ontario/Quebec                                         531
Toronto, Ontario                                                        531
Hamilton, Ontario                                                       531
Kitchener-Cambridge-Waterloo, Ontario                                   531
London, Ontario                                                         531
Census agglomerations, Ontario                                          531
Outside census metropolitan areas and census agglomerations, Ontario    531
Name: count, dtype: int64

In [26]:
# Drop 'Location' rows with 'Ontario' as there is enough information in the rest
merged_df = merged_df[merged_df['Location'] != 'Ontario']
merged_df.head(2)

,Year,Location,Number of Households,Tenure,Housing Characteristics
288,2018,"Large urban population centres, Ontario",342800,First-time homebuyer,"Total, structural type of dwelling"
289,2021,"Large urban population centres, Ontario",370000,First-time homebuyer,"Total, structural type of dwelling"

In [27]:
# Drop all rows that start with 'total' as it is not needed
merged_df = merged_df[~merged_df['Housing Characteristics'].str.startswith('Total')]
final_df = merged_df
final_df.head(2)

,Year,Location,Number of Households,Tenure,Housing Characteristics
291,2018,"Large urban population centres, Ontario",151100,First-time homebuyer,Single-detached house
292,2021,"Large urban population centres, Ontario",175500,First-time homebuyer,Single-detached house

In [28]:
final_df['Year'].value_counts()

Year
2021    1749
2022    1749
2018    1518
Name: count, dtype: int64

In [29]:
# Drop all rows for 2018, the data skips a year and is not even with the other two years
final_df = final_df[final_df['Year'] != 2018]

In [30]:
final_df.to_csv(Path('Resources/final_df.csv', inplace=False))